/* U63166005 */

body {
    margin: 5px;
    padding: 5px;
}

.fancy-title{
    font-family: serif;
    text-align: center;
    color: darkgoldenrod;
    text-decoration: underline;
}

.normal-title{
    color: darkgoldenrod;
    text-align: center;
    font-style: italic;
}

.app {
    width: 500px;
    height: auto;
    border: 3px solid darkgoldenrod;
    background-color: cornsilk;
    margin: 5px;
    padding: 15px;
    border-radius: 15%;
}

.footer{
    text-align: center;
}

button{
    border-radius: 12px;
    cursor: pointer;
}